@{
    Layout = "~/Views/BucketManager/_Layout.cshtml";
}

@model List<SLH.Foundation.Buckets.Models.BucketResponse>

    <div id="container">
        <button class="reload-btn">Reload <img src="/sitecore modules/Shell/SLH/refresh.png" /></button>
        <div id="tabs" class="custom-font">
            <ul>
                @foreach (var item in Model)
                {
                    <li><a href="/slh_api/bucketManager/BucketList?bucketId=@item.BucketId">@item.BucketName</a></li>
                }
            </ul>
        </div>
    </div>
    <input id="table-id" type="hidden" />
    <input id="item-id" type="hidden" />
    <input id="destination-id" type="hidden" />
    <input id="refresh-table" type="hidden" />

    <div id="edit-item-dialog" title="">
        <div id="edit-item-content">
        </div>
    </div>

    <div id="dialog-publish-confirm" title="Publish article?" style="display:none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>The item will be published now, would you like to continue?</p>
    </div>

    <div id="dialog-publish-message" title="">
        <p id="publish-message"></p>
    </div>