@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (KeyValuePair<string, string> item in ViewBag.BucketList)
        {
            <div>@string.Format("{0}: {1}", item.Key, item.Value)</div>
        }
    </div>
</body> 
</html>
